#leggtilmeny {
    display: inline-block;
    margin-top: 10px;
    margin-left:1000px ;
    
}


#leggtilmeny {
    display: block;
    block-size: 30px;
    margin: auto;
    background-color: rgb(18, 163, 168);
    margin-bottom: 10px;
    margin-top: 15px;
}

#ViewAll {
font-family: Geneva, Tahoma, sans-serif;

}

h1 {
    margin-top: 20px;
    font-family:'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    display: block;
    background-color: blanchedalmond;
    
}

.activities:hover {
    color: red;
    cursor: pointer;
    display: block;
  }
  